b {
  display: inline-block;
  margin: .25em;
}
a:not([href]) {
  text-decoration: underline;
}
a:not([href]):hover {
  cursor: pointer;
}
.warning {
  border: solid 1px #E00;
  padding: .5em;
  color: #E00;
}
