b {
  display: inline-block;
  margin: .25em;
}
a:not([href]) {
  text-decoration: underline;
}
a:not([href]):hover {
  cursor: pointer;
}
.warning {
  border: solid 1px #E00;
  padding: .25em;
  color: #E00;
}
.warning-text {
  color: #E00;
}
.ml-1 {
  margin-left: 1em;
}
.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}
/* transition for expanding objects similar to jquery's data-toggle */
button.data-object-expander {
  background-color: unset;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: none;
  border-left: none;
  height: 1em;
  width: 1em;
  transform: rotate(45deg);
  margin: 0 1em;
  padding: 0;
  position: absolute;
  right: 0;
  top: 25%;
  transition: transform 0.5s;
}
button.data-object-expander.opened {
  transform: rotate(225deg);
}
button.data-object-expander:hover {
  cursor: pointer;
}
button.data-object-expander:focus {
  outline: unset;
}
.expand-enter-active,
.expand-leave-active {
  transition: all 0.5s;
}
.expand-enter,
.expand-leave-to {
  height: 0px;
  opacity: 0;
}

.accessible-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.hidden {
  display: none;
}

.loading-container {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 125px;
  height: 125px;
  animation: spin 2s linear infinite;
  box-sizing: border-box;
  display: inline-block; /* allows use on spans */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fase transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

table.striped-table {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: repeat(var(--numCol), auto);
}

table.striped-table th {
  padding: 0.5 em;
  text-align: left;
  border-right: 1px solid #eee;
}

table.striped-table thead,
table.striped-table tbody,
table.striped-table tr {
  display: contents;
}

table.striped-table td {
  padding: 0.5em;
  border-right: 1px solid #eee;
}

table.striped-table tr:nth-child(odd) td {
  background-color: #eee;
  border-right: 1px solid #fff;
}

p.p-body {
  max-width: 80vw;
}
